<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <select v-model="msg">
            <option v-for="d in arr" :value="d+'0000'">{{d}}</option>
        </select>
        <p>{{msg}}</p>
    </div>
    <script src="vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                arr: ['1111', '22222', '33333'],
                msg: ""
            }
        })
    </script>
</body>

</html>