<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="num1"> +
        <input type="text" v-model="num2">
        <strong>{{total}}</strong>
        <p>{{total}}</p>
    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                num1: 10,
                num2: 20
            },
            computed: {
                total() {
                    console.log('计算属性调用了。。。');
                    return (+this.num1) + (+this.num2);
                }
            },
            //定义watcher
            watch: {
                'num1': function(newVal, oldVal) {
                    console.log('num1发生了改变,新值：' + newVal + '，旧值：' + oldVal);
                },
                'num2': function(newVal, oldVal) {
                    console.log('num2发生了改变,新值：' + newVal + '，旧值：' + oldVal);
                }
            }
        })
    </script>
</body>

</html>